﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentica Web App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <header class="page-header container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Authentica Web App</h1>
                </div>
                <div class="col-md-4 text-right">
                    @if (Session["authenticated"] != null)
                    {
                        using(Html.BeginForm("Logout", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div>Welcome @Session["authenticated"]</div>
                            <button type="submit" class="btn btn-default"><i class="fa fa-sign-out"></i>&nbsp;Logout</button>
                        }

                    }
                    
                </div>
            </div>
        </header>
        <div class="container">
            @RenderBody()
        </div>
        <footer class="text-center fixed-bottom-footer">
            Web App 2016
        </footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
