﻿.body {
    font-family: sans-serif;
}

.fixed-bottom-footer {
    position: fixed;
    bottom: 0;
    padding: 30px;

    height: 80px;
    width: 100%;

    background-color: #999;
    color: #FFF;
    font-weight: bold;

}