﻿@model authenticawebapp.Models.LoginViewModel

@{
    ViewBag.Title = "Authentica Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Login</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary();
                    <div class="form-group">
                        @Html.LabelFor(m => m.email)
                        @Html.EditorFor(m => m.email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.password)
                        @Html.EditorFor(m => m.password)
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-default"><i class="fa fa-sign-in"></i>&nbsp;Login</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
