﻿@model authenticawebapp.Models.RegexViewModel

@{
    ViewBag.Title = "Regex Tester";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Regex Tester</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Default", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        @Html.LabelFor(m => m.regex)
                        @Html.EditorFor(m => m.regex)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.test)
                        @Html.EditorFor(m => m.test)
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-default">Test Expression</button>
                    </div>
                }
            </div>
        </div>
        @{ 
            // NOTE: Viewbag Result is of type RegexResultModel
        }
        @if (ViewBag.Result != null)
            {
            <div class="alert alert-@ViewBag.Result.cssclass">
                <p>
                    @Html.Raw(ViewBag.Result.message)
                </p>
            </div>
        }
    </div>
</div>